* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    background-color: #000;
    color: #ffffff;
}

.logo {
    width: 40px;
    padding-right: 10px;
}

.no-card-round {
    border-radius: 0px;
}

.icon-cog {
    color: white;
}

.card-height {
    height: 12.6rem;
}

@media (max-width: 680px) {
    .width-card {
        width: 20rem;
        margin: 0 auto;
    }
}

